packages/

# Compiled Object files
*.o
*.obj

# Compiled Static Libraries
*.lib
*.a

# Compiled Dynamic Libraries
*.dll
*.so
*.dylib

# Executable files
*.exe
*.out
*.app

# Debugging files
*.pdb
*.ilk
*.dSYM/

# Build Directories
build/
cmake-build-debug/
cmake-build-release/

# IDE and Editor Files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln
*.ncb
*.cache
*.csproj
*.vcxproj
*.vcxproj.filters

# OS-specific Files
.DS_Store
Thumbs.db
desktop.ini

# Logs and Temporary Files
*.log
*.temp
*.tmp

# CMake Files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# OpenGL Dependencies
# Ignore locally installed dependencies (if any)
external/

# Ignore GLFW or GLAD build artifacts if included in the project
glfw/build/
glad/build/

# Others
*.swp
*.swo
